/* ABOUT PAGE */

.centerText{
    display: flex;
    padding-top: 1%;
    align-content: center;
    flex-direction: column;
    font-size: 1.3em;
    font-family: 'PT Serif', serif, 'Times New Roman', Times, serif;
    margin: 0 10% 0 10%;
}


p{
    width: 100%;
}



.centerMe{
    display: flex;
    align-items: center;
    flex-direction: column;   
}


.meFrame{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.meJPG{
    border-radius: 40%;
    border: 2px solid rgb(204, 201, 201);
    max-width: 50%;
    width: 20%;
    height: auto;
    transform: scale(.6);
}

.resume{
    border: 1px solid white;
    border-radius: 10%;
    background-color: rgba(247, 239, 239, .5);
   
}

.contactCard{
    display: flex;
    border-top: none;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 20%;
    top: 0;
    left: 0;
    width: 20%;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
}

@media screen and (min-width: 1500px){
    .contactCard{
        width: 15%;
    }
}

.cleanList{
    list-style: none;
    width: 100%;
}

.contactInfo{
    display: flex;
    align-items: center;
}

.fonty{
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Domine', serif;
}

a{
    text-decoration: none;
}


.backPop{
    height: 100%;
    width: auto;
    border-radius: 20%;
    transition: background-color .5s, transform .5s;
}

.backPop:hover{
    background-color: rgba(100, 69, 236, 0.644);
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.5);
}

.hoverZoom{
    transition: transform .5s;
}

.hoverZoom:hover{
    transform: scale(1.5);
}


.backLink{
    padding-top: 2%;
    text-align: center;
}
