/* ABOUT PAGE */
html, body{
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    background-image: url("mount.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*Photo by Elliott Engelmann on Unsplash - mount*/
    
}

.centerText{
    display: flex;
    padding-top: 1%;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'PT Serif', serif, 'Times New Roman', Times, serif;
    transition: font-size .2s;
}

/* p:hover{
    padding-top: 1%;
    font-size: 1.51em;
    font-family: 'PT Serif', serif, 'Times New Roman', Times, serif;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0), 0 6px 20px 0 rgba(255, 255, 255, 0);
} */


p{
    width: 70%;
}

.underline{
    display: flex;
    position: relative;
    width: 40%;
    margin-left: 5%;
    padding-top: 1em;
    border-bottom: 1px solid white;
    border-radius: 10%;

}

.centerMe{
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 45%;
    top: 50%;
}


.meFrame{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.meJPG{
    border-radius: 50%;
    border: 2px solid rgb(204, 201, 201);
    max-width: 20%;
    height: auto;
}

.resume{
    border: 1px solid white;
    border-radius: 10%;
    background-color: rgba(247, 239, 239, .5);
   
}

.contactCard{
    display: flex;
    border-top: none;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 20%;
    top: 0;
    left: 0;
    width: 20%;
    justify-content: flex-start;
    font-size: 1.5em;
}

.cleanList{
    list-style: none;
    width: 100%;
}

.contactInfo{
    display: flex;
}

.fonty{
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Domine', serif;
}

a{
    text-decoration: none;
}

.backLink{
    padding-top: 2%;
    text-align: center;
}

.backPop{
    height: 100%;
    width: auto;
    border-radius: 20%;
    transition: background-color .5s, transform .5s;
}

.backPop:hover{
    background-color: rgba(100, 69, 236, 0.644);
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.5);
}

.hoverZoom{
    transition: transform .5s;
}

.hoverZoom:hover{
    transform: scale(1.5);
}