

/*Main method of communicating with the user*/
.output{
	width: 350px;
	border: 2px solid black;
	/*position: fixed;*/
	float: right;
	margin-bottom: 20px;
}

.contribAmount{
	border: 1px solid black;
}

#console {
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    height: 5em;
    overflow: auto;
}

.deductionHide{
	display: none;
}

ul{
	list-style: none;
	}

.hideMe{
	display: none;
	
}

