html{
    height: 100%;
    margin: 0;
    background-image: url("/assets/backgrounds/carbon-fibre.png");   
    background-color: rgb(37, 37, 37);
    display: flex;
    transition-timing-function: ease-in-out;
    transition: background-image .2s;
    transition-delay: .05s;
    color: white;
}

.leftCol{
    display: inherit;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80%;
/* 
    border: 2px solid white; */
    
}

.midCol{
    display: inherit;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    /*DRAW LINES HERE ?*/
}

.rightCol{
    display: inherit;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80%;    
}

@media only screen and (max-width: 500px){
    .customBut{
        font-size: .60em;
        /* max-width: 25%;
        height: 5em; */
        padding: .55em;
        border-radius: 15%;
        text-decoration: none;
        outline: none;
        color: rgb(212, 211, 211);
        background-color: rgba(0, 0, 0, .75);
        border: 4px inset rgb(193, 241, 255);
        font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: transform .5s;
    }

    .customBut:hover{
        transform: scale(1.25);
        color: rgb(212, 211, 211);
        background-color: rgba(0, 0, 0, .85);
        border: 4px outset rgb(193, 241, 255);   
    }        

    .customBut:active{
        transform: scale(.25);
    }
}

@media only screen and (max-width: 1800px) and (min-width: 501px){
    .customBut{
        font-size: 1.25em;
        padding: .55em;
        border-radius: 15%;
        text-decoration: none;
        outline: none;
        color: rgb(212, 211, 211);
        background-color: rgba(0, 0, 0, .75);
        border: 4px inset rgb(193, 241, 255);
        font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: transform .5s;
    }

    .customBut:hover{
        transform: scale(1.25);
        color: rgb(212, 211, 211);
        background-color: rgba(0, 0, 0, .85);
        border: 4px outset rgb(193, 241, 255);  
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }        

    .customBut:active{
        transform: scale(.25);
    }
}
.customBut{
    font-size: 2.75em;
    padding: .55em;
    border-radius: 15%;
    text-decoration: none;
    outline: none;
    color: rgb(212, 211, 211);
    background-color: rgba(0, 0, 0, .75);
    border: 4px inset rgb(193, 241, 255);
    font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: font-size .5s, padding .5s, transform .5s;
   
}

.customBut:hover{
    font-size: 3em;
    padding: .75em;
    color: rgb(212, 211, 211);
    background-color: rgba(0, 0, 0, .85);
    border: 4px outset rgb(193, 241, 255);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.customBut:active{
    transform: scale(.55);
}

.hideMe{
    display: none;
}

@keyframes test{
    from { width: 50%;}
    to { width: 100%;}
}

.reOrg{
    display:flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    
    animation-name: test;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    
    width: 50%;
    height: auto;
}

.devOrg{
    flex-direction: column !important;
}

.centeredSubEle{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.homeBut{
    font-size: 1.5em;
    padding: 1em;
    border-radius: 40%;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, .85);
    /* background-image: radial-gradient( rgba(50, 27, 252, 0.514), rgba(0, 0, 0, 0.514)); */
    border: none;
    border: 4px outset rgb(0, 0, 0);
    font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home{
    display: inherit;
}

.backPop{
    height: 100%;
    width: auto;
    padding-left: .2em;
    padding-right: .2em;
    background-color: rgba(99, 69, 236, 0.24);
    border: 4px inset rgb(193, 241, 255);
    border-radius: 20%;
    transition: background-color .5s, transform .5s;
}

.backPop:hover{
    background-color: rgba(99, 69, 236, 0.16);
    border-radius: 20%;
    border: 4px outset rgb(193, 241, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.5);
}

.botLeft{
    bottom: 0;
    left: 0; 
    position: fixed;
    color: rgba(109, 64, 139, 0.8);
    font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 80%;
}


@keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
  
  .spinner-border {
    display: inline-block;
    width: 2rem;
    height: auto;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    /* stylelint-disable-next-line property-blacklist */
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }
  
  .spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
  }
  
  /*
   Growing circle -- Bootstrap
  */
  
  @keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
  }
  
  .spinner-grow {
    display: inline-block;
    width: 2.85rem;
    height: 2.85rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    /* // stylelint-disable-next-line property-blacklist */
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow .75s linear infinite;
  }
  
  .spinner-grow-sm {
    width: 1rem;
    height: auto;
  }

.sr-only,
.sr-only-focusable:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#loadIt{
    font-size: 1.2rem;
}
