html{
    height: 100%;
    margin: 0;
    background-image: url("fast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    transition-timing-function: ease-in-out;
    transition: background-image .2s;
    transition-delay: .05s;
    color: white;
}

.taxRound{
    background-image: url("tax.jpg"); 
    transition-timing-function: ease-in-out;
    transition: background-image 1s;
    transition-delay: .05s;
}

.blogRound{
    background-image: url("street.jpg");
    transition-timing-function: ease-in-out;
    transition: background-image 1s;
    transition-delay: .05s;
}

.devRound{
    background-image: url("sweet.jpg");
    transition-timing-function: ease-in-out;
    transition: background-image 1s;
    transition-delay: .05s;
}

.aboutRound{
    background-image: url("mount.jpg");
    transition-timing-function: ease-in-out;
    transition: background-image 1s;
    transition-delay: .05s;
}

.leftCol{
    display: inherit;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80%;
/* 
    border: 2px solid white; */
    
}

.midCol{
    display: inherit;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
   

    /*DRAW LINES HERE*/
}

.rightCol{
    display: inherit;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80%;

    
}

.customBut{
    font-size: 2.75em;
    padding: .55em;
    border-radius: 15%;
    text-decoration: none;
    outline: none;
    color: rgb(212, 211, 211);
    background-color: rgba(0, 0, 0, .75);
    border: 4px inset rgb(193, 241, 255);
    font-family: 'Audiowide', cursive;
    transition: font-size .5s, padding .5s, transform .5s;
   
}

.customBut:hover{
    font-size: 3em;
    padding: .75em;
    color: rgb(212, 211, 211);
    background-color: rgba(0, 0, 0, .85);
    border: 4px outset rgb(193, 241, 255);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 


/* .buttonHug{
    border: 2px solid rgb(212, 211, 211);
    border-radius: 0%;
} */


.hideMe{
    display: none;
}

@keyframes test{
    from { width: 50%;}
    to { width: 100%;}
}

.reOrg{
    display:flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    
    animation-name: test;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    
    width: 50%;
    height: auto;
}

.devOrg{
    flex-direction: column !important;
}

.centeredSubEle{
    /* background-image: linear-gradient(black, white, black);
    border: 2em groove red;
    border-radius: 50%; */
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.homeBut{
    font-size: 1.5em;
    padding: 1em;
    border-radius: 40%;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, .85);
    /* background-image: radial-gradient( rgba(50, 27, 252, 0.514), rgba(0, 0, 0, 0.514)); */
    border: none;
    border: 4px outset rgb(0, 0, 0);
    font-family: 'Audiowide', cursive;
}

.home{
    display: inherit;
}

.backPop{
    height: 100%;
    width: auto;
    padding-left: .2em;
    padding-right: .2em;
    background-color: rgba(99, 69, 236, 0.24);
    border: 4px inset rgb(193, 241, 255);
    border-radius: 20%;
    transition: background-color .5s, transform .5s;
}

.backPop:hover{
    background-color: rgba(99, 69, 236, 0.16);
    border-radius: 20%;
    border: 4px outset rgb(193, 241, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.5);
}

.botLeft{
    bottom: 0;
    left: 0; 
    position: fixed;
    color: rgba(109, 64, 139, 0.8);
    font-family: 'Audiowide', serif;
    font-style: italic;
    font-size: 80%;
}