
#mename{
	font-family: 'Cinzel Decorative', cursive;
	margin: auto;
	width: 80%;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 0;
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 20px;

}

.resdlbutton{
	/*text-align: left;*/
	float: left;
	position: absolute;
	bottom: 0;
	margin: 10px;
	font-family: 'Bitter', serif;
	font-size: 120%;
	padding: 1px;
	/*border: 1px solid;*/
	border-radius: 10px;
	/*background-color: #e1f7d5;*/

}


.headlines{
	/*font-family: 'Bitter', serif;*/
	font-family: 'Merriweather', serif;
	text-align: center;
	text-transform: uppercase;
}

p{
	margin: auto;
}

li{
	font-family: 'Open Sans', sans-serif;	
}

.company{
	font-family: 'Bitter', serif;
	float: left; 
}

.contact{
	text-align: center;
	width: 11%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

#execsum{
	text-align: auto;
	font-family: 'Open Sans', sans-serif;
}

#work{
	
	margin: 0 auto;
}

td {
    padding: 15px;
}

.navbar-custom{
	background-color: #F8F8F8;
	border: 0;
}

.navbar-custom-menu{
	border-top: 0;
	border-left: 1px solid;
	border-right: 0;
	border-bottom: 1px solid;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 9px;
}

.navbar-custom-menu-inverse{
	border-top: 0;
	border-left: 0;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;	
}

.navbar-custom-drop{
	border-radius: 30px;
	
}

.jumbotron{
	position: relative;
	text-align: center;
	background-color: #F8F8F8;
	border: 1px solid #000000;
	border-radius: 30px;
	/*color: #5160F5;*/

}
.centerme{
	width: 10%;
	margin: 0 auto;
}
hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}

hr.style17:after {
	content: '{}';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #ffffff;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(90deg);
}

.btn-custom {
  color: inherit;
  background-color: transparent;
  border: 0;
  margin-bottom: 10px;
}

.btn-custom:focus,
.btn-custom.focus {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.btn-custom:hover {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.btn-custom:active:hover,
.btn-custom.active:hover,
.open > .dropdown-toggle.btn-custom:hover,
.btn-custom:active:focus,
.btn-custom.active:focus,
.open > .dropdown-toggle.btn-custom:focus,
.btn-custom:active.focus,
.btn-custom.active.focus,
.open > .dropdown-toggle.btn-custom.focus {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.openall{
	float: right;
}