/* cinzel-decorative-regular - latin */

#landingnameplate{
	font-family: 'Cinzel', serif;
	text-align: left;
	width: 100%;
	font-size: 27pt;
	position: fixed;
	bottom: 0;
    left: 0;
    color: #fff;
}

.landingbanner{
    position: fixed;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #000;
    margin-top: 20%;
    background: #1f1d1d;
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #080808e0, #4ddbff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #080808e0, #4ddbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	

    box-shadow: inset 0px 5px 5px rgba(0,0,0,.5), 0px 0px 3px rgba(255, 0, 0, .2);
}

.bannerannounce{
    position: center; 
    padding-top: auto;
    padding-bottom: auto;
    color: rgb(255, 255, 255);
    text-align: center;
   
  }




.navbutton {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto';
	color: #ffffff;
	background-color: #4ddbff48;
	padding: 20px;
	height: 100px;
	margin-top: 1px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3), inset 0px 0px 10px rgba(0,0,255,.3), inset 0px 0px 20px rgba(0, 200, 200, .2), inset 0px 0px 30px rgba(255, 255, 0, .1);
	border-radius: 50px;
  width: 219.41px;	
  font-size: 180%;
  outline: none; 
}

body, html{
    height: 100%; background-image: url("tax.jpg"); 
}
.nodec{
    text-decoration: none;
}
button{
    outline: none;
}
a, a:hover{
    text-decoration: none;
    color: white;
}

.centered{
    justify-content: center;
    text-align: center;
}