html, body{
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    background-image: url("tax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*Photo by Elliott Engelmann on Unsplash - mount*/
    
}


.centerItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    height: 100%;
    /* font-family: 'Times New Roman', Times, serif; */
}

.customBut{
    font-size: 1.75em;
    padding: .55em;
    border-radius: 15%;
    text-decoration: none;
    outline: none;
    color: rgb(212, 211, 211);
    background-color: rgba(0, 0, 0, .75);
    /* background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(50, 27, 252, 0.514)); */
    border: none;
    border: 4px inset rgb(193, 241, 255);
    font-family: 'Audiowide', cursive;
    transition: font-size .5s, padding .5s, border-radius .5s;
   
}

.customBut:hover{
    font-size: 2em;
    padding: .75em;
    border-radius: 15%;
    text-decoration: none;
    outline: none;
    color: rgb(212, 211, 211);
    background-color: rgba(0, 0, 0, .85);
    /* background-image: radial-gradient( rgba(50, 27, 252, 0.514), rgba(0, 0, 0, 0.514)); */
    border: none;
    border: 4px outset rgb(193, 241, 255);
    font-family: 'Audiowide', cursive;
} 


.backPop{
    height: 100%;
    width: auto;
    border-radius: 20%;
    transition: background-color .5s, transform .5s;
}

.backPop:hover{
    background-color: rgba(100, 69, 236, 0.644);
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.5);
}

.backLink{
    display: flex;
    text-align: center;
}
